* {
    box-sizing: border-box;
    margin: 0;
  }
  
  
  
  h3 {
    position: absolute;
    text-align: center;
    top: 20px;
  }
  
  /* Main Style Stars from here  */
  .flag {
    position: relative;
    width: 300px;
    height: 200px;
    box-shadow: 5px 5px 15px rgba(23, 184, 171, 0.568);
    overflow: hidden;
    margin: 50px;
  }
  
  .bahamas {
    background: linear-gradient(#119cd3 33%, #fef200 33%, #fef200 66%, #01aef0 0);
  }
  
  .bahamas__triangle {
    position: absolute;
    border: 100px solid transparent;
    border-left-color: #fa003e;
  }